*.obj
*.user
*.sdf
*.suo
*.opensdf
*.pdb
*.filters
*.aps
*.XML
*.ipch
*.tlog
*.pch
*.manifest
*.lastbuildstate
*.log
*.cache
*.idb
*.exp
*.lib
*.dll
*.tli
*.tlh
*.ilk
*.res
*.exe
*manifest.rc

/bin
/build
Thumbs.db